<div class="row">
  <div class="col-md-8">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mt-3">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="unit_price">
          <th mat-header-cell *matHeaderCellDef> Unit Price </th>
          <td mat-cell *matCellDef="let element"> {{element.UnitPrice}} </td>
        </ng-container>
        <!-- Total Column -->
        <ng-container matColumnDef="total_price">
          <th mat-header-cell *matHeaderCellDef> Total Price </th>
          <td mat-cell *matCellDef="let element"> {{element.TotalPrice}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 100,1000,10000]"></mat-paginator>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3 class="mt-3 font-weight-bold">Total Sale</h3>
        <div class="card">
          <div class="card-body">
            <h4 class="font-weight-bold">Total Sale</h4>
            <p>{{totalSale}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h3 class="mt-4 font-weight-bold">Monthly Sale</h3>
        <div class="row">
          <div class="col-6" *ngFor="let item of monthSale;let i = index;">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h4 class="font-weight-bold">Month</h4>
                    <p>{{item.date}}</p>
                  </div>
                  <div class="col-6">
                    <h4 class="font-weight-bold">Sale</h4>
                    <p>{{item.TotalPrice}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>